debug=True
verbose=True
detection_volume_mode="original"
treshold = 0.00005
buffer_size = 1024
hop_s = 1024
win_s = 4096
n_channels = 1
samplerate = 44100
tolerance = 0.08
last_detection_time_treshold = 0.010
confidence_treshold = 0.005